<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:src/com/spring/demo/sport.properties"/>

    <!-- Define your beans here -->
    <bean id="myFortuneService" class="src.com.spring.demo.HappyFortuneService">
    </bean>

    <bean id="myCoach" class="src.com.spring.demo.BaseballCoach">
        <constructor-arg ref="myFortuneService"/>
    </bean>

    <bean id="myOtherCoach" class="src.com.spring.demo.TrackCoach">
        <constructor-arg ref="myFortuneService"/>
    </bean>

    <bean id="myCricketCoach" class="src.com.spring.demo.CricketCoach">
        <property name="fortuneService" ref="myFortuneService"/>
        <property name="email" value="${cricketTeam.email}"/>
        <property name="team" value="${cricketTeam.team}"/>
    </bean>

</beans>





