<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:src/com/spring/demo/property/sport.properties,
    classpath:src/com/spring/demo/property/fortune.properties"
    />
    <!-- Define your beans here -->
    <bean id="myFortuneService" class="src.com.spring.demo.service.HappyFortuneService">
    </bean>

    <bean id="myRandomFortuneService" class="src.com.spring.demo.service.RandomFortuneService">
        <property name="fortunes" value="${fortune.dataset}"/>
    </bean>


    <bean id="myCoach" class="src.com.spring.demo.model.BaseballCoach" scope="prototype">
        <constructor-arg ref="myFortuneService"/>
    </bean>

    <bean id="myOtherCoach" class="src.com.spring.demo.model.TrackCoach" scope="prototype">
        <constructor-arg ref="myFortuneService"/>
    </bean>

    <bean id="myCricketCoach" class="src.com.spring.demo.model.CricketCoach" scope="prototype">
        <property name="fortuneService" ref="myRandomFortuneService"/>
        <property name="email" value="${cricketTeam.email}"/>
        <property name="team" value="${cricketTeam.team}"/>
    </bean>

</beans>





